
/* all h2 elements */

h2 {
  color: green;
  text-align: center;
}

/* all with class="highlight" */

.highlight {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  background-color: green;
  opacity: .6;
}

/* element with id="mainPoint" */

#mainPoint {
  font-size: 24px;
  font-weight: bold;
  background-color: green;
  opacity: .7;
}

/* all p AND h1 elements */

p, h1 {
  color: red;
  text-align: center;
}
